.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-Q2J-HMM3Kph9);
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  height: var(--token-n4-8TqmVnHZg);
  width: var(--token-n4-8TqmVnHZg);
  border-radius: 99px;
  border: 1px solid var(--token-utN-5UH2WTMp);
}
.root[data-hovered]:global(.__wab_instance) {
  border-width: 2px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-utN-5UH2WTMp);
  outline-offset: 1px;
}
