.ariaDialogTrigger:global(.__wab_instance) {
  position: relative;
}
.svg__iW9K2 {
  position: relative;
  height: 1em;
}
.svg__aQxGf {
  position: relative;
  height: 1em;
}
.ariaModal:global(.__wab_instance) {
  background: var(--token-Q2J-HMM3Kph9);
  display: block;
  color: var(--token-B6OfbYrqsbx8);
  font-family: var(--token-4Qve3lBk3VSB);
  font-size: var(--token-a239WgyKxf-E);
  line-height: var(--token-s1uElA2gZr05);
  outline-style: none;
  box-shadow: 0px 24px 48px -12px #00000040;
  border-radius: var(--token-umT8-P8VZjUR);
}
.pcls_b-u6lDVtyG6P {
  background: var(--token-FgRsxgJ9tL1N);
  left: 0px;
  top: 0px;
  z-index: 10;
  position: fixed;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  outline: none;
}
.ariaDialog:global(.__wab_instance) {
  max-width: 90vw;
  object-fit: cover;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  outline-style: none;
}
.h3___6BilQ {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-d1h4FK34y5Zy);
  min-width: 0;
  padding: var(--token-yorfojmHK5Zq);
}
.scrollableContent {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  overflow: auto;
  padding-left: var(--token-yorfojmHK5Zq);
  padding-right: var(--token-yorfojmHK5Zq);
}
.freeBox__lWxgs {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: var(--token-a-n8EmSVvMAO);
}
.text__swbVd {
  position: relative;
}
.freeBox__loRdF {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
  padding: var(--token-yorfojmHK5Zq);
}
.svg___2VbIg {
  position: relative;
  height: 1em;
}
.text___61ODz {
  padding-left: 0px;
}
.svg__m7ABx {
  position: relative;
  height: 1em;
}
