.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-utN-5UH2WTMp);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-53DvrBn_dSEP);
  font-family: var(--token-4Qve3lBk3VSB);
  font-size: var(--token-a239WgyKxf-E);
  line-height: var(--token-s1uElA2gZr05);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-A7gZyYqqC2d2);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-SjDcp8-AMEOm);
  outline-offset: 1px;
  outline-color: var(--token-utN-5UH2WTMp);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-oeSM6EUd590C);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-Fv8Ei_bYPiuE);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-wY-U7oOMmByo);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-2SVFDSFZXnkA);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-a64OQr8JiyvO);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-Z6VHeXchIHzs);
  font-size: var(--token-zaAkCltkHg-d);
  column-gap: var(--token-SjDcp8-AMEOm);
  row-gap: 0px;
  border-radius: var(--token-aQQSgsSCBoqT);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-zaAkCltkHg-d);
  line-height: var(--token-Z6VHeXchIHzs);
  column-gap: var(--token-aQQSgsSCBoqT);
  row-gap: 0px;
  border-radius: var(--token-aQQSgsSCBoqT);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-d1h4FK34y5Zy);
  line-height: var(--token-7Pow5-spRP60);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-d1h4FK34y5Zy);
  line-height: var(--token-7Pow5-spRP60);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-0pVavdf5U3qy);
  border-radius: var(--token-A7gZyYqqC2d2);
}
.softBackgroundcolor_neutral {
  background: var(--token-JCh8TGbx2dBV);
}
.softBackgroundcolor_muted {
  background: var(--token-bEGhYihIXWin);
}
.softBackgroundcolor_success {
  background: var(--token-z5p3Uft3NBaX);
}
.softBackgroundcolor_warning {
  background: var(--token-vIFqNp00Qdbv);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-aIzCofKpXRA5);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-A7gZyYqqC2d2);
  border: 0px solid var(--token-8S4csTjWudxQ);
}
.bordercolor_neutral {
  border-color: var(--token-xQ5bOPoCefNZ);
}
.bordercolor_muted {
  border-color: var(--token-nvmIqE3PCEeW);
}
.bordercolor_success {
  border-color: var(--token-V1yOjP61zFVC);
}
.bordercolor_warning {
  border-color: var(--token-NkOEhq59so2W);
}
.bordercolor_errorDestructive {
  border-color: var(--token-_AvUqHgkqPL2);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-A7gZyYqqC2d2);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-GO86EODy1bXe);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-fsiLSDhL8-Oz);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-fCjiK62-vY2T);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__qy5G {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-A7gZyYqqC2d2);
  min-width: 0;
  min-height: 0;
  padding: var(--token-A7gZyYqqC2d2) var(--token-58C_ecRG6qZJ);
}
.freeBoxsize_extraSmall__qy5G3A3Jb {
  padding: var(--token-aQQSgsSCBoqT) var(--token-A7gZyYqqC2d2);
}
.freeBoxsize_small__qy5GrcLyj {
  padding: var(--token-A7gZyYqqC2d2) var(--token-53DvrBn_dSEP);
}
.freeBoxsize_large__qy5GeVlki {
  padding-top: var(--token-aQQSgsSCBoqT);
  padding-bottom: var(--token-aQQSgsSCBoqT);
}
.freeBoxsize_extraLarge__qy5GkrGhk {
  padding-left: var(--token-a-n8EmSVvMAO);
  padding-right: var(--token-a-n8EmSVvMAO);
}
.freeBoxroundedFull__qy5GwFccx {
  padding-right: var(--token-a-n8EmSVvMAO);
  padding-left: var(--token-a-n8EmSVvMAO);
}
.freeBox___5KbXw {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart___5KbXwAc19R {
  display: flex;
}
.slotTargetStart {
  color: var(--token-b2wj-FZ2Kq3e);
}
.slotTargetStartcolor_neutral {
  color: var(--token-qQAOqDiSKfaF);
}
.slotTargetStartcolor_muted {
  color: var(--token-u7RFMLVg3Asj);
}
.slotTargetStartcolor_success {
  color: var(--token-JiruaYiHJ9WP);
}
.slotTargetStartcolor_warning {
  color: var(--token-nHnF3RDRWnUN);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-b8nIjRc4FH4f);
}
.slotTargetStarttype_soft {
  color: var(--token-NeLYFMxvh1Zc);
}
.slotTargetStarttype_bordered {
  color: var(--token-NeLYFMxvh1Zc);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-zaAkCltkHg-d);
}
.slotTargetStartsize_small {
  font-size: var(--token-zaAkCltkHg-d);
}
.slotTargetStartsize_large {
  font-size: var(--token-d1h4FK34y5Zy);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-d1h4FK34y5Zy);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-UEus1Ov85ert);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-UEus1Ov85ert);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-FJ2kgRt2m1Az);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-FJ2kgRt2m1Az);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-7QztGLHtfX3J);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-7QztGLHtfX3J);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-iKvYtAN9LCGo);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-iKvYtAN9LCGo);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-bAXDpkOCaizN);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-bAXDpkOCaizN);
}
.svg__ujFkm {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-b2wj-FZ2Kq3e);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-qQAOqDiSKfaF);
}
.slotTargetLabelcolor_muted {
  color: var(--token-u7RFMLVg3Asj);
}
.slotTargetLabelcolor_success {
  color: var(--token-JiruaYiHJ9WP);
}
.slotTargetLabelcolor_warning {
  color: var(--token-nHnF3RDRWnUN);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-b8nIjRc4FH4f);
}
.slotTargetLabeltype_soft {
  color: var(--token-NeLYFMxvh1Zc);
}
.slotTargetLabeltype_bordered {
  color: var(--token-NeLYFMxvh1Zc);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-UEus1Ov85ert);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-FJ2kgRt2m1Az);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-UEus1Ov85ert);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-7QztGLHtfX3J);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-FJ2kgRt2m1Az);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-iKvYtAN9LCGo);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-7QztGLHtfX3J);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-bAXDpkOCaizN);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-iKvYtAN9LCGo);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-bAXDpkOCaizN);
}
.text__evWlq {
  white-space: pre;
}
.freeBox__gpXwu {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__gpXwuuat1R {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-b2wj-FZ2Kq3e);
}
.slotTargetEndcolor_neutral {
  color: var(--token-qQAOqDiSKfaF);
}
.slotTargetEndcolor_muted {
  color: var(--token-u7RFMLVg3Asj);
}
.slotTargetEndcolor_success {
  color: var(--token-JiruaYiHJ9WP);
}
.slotTargetEndcolor_warning {
  color: var(--token-nHnF3RDRWnUN);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-b8nIjRc4FH4f);
}
.slotTargetEndtype_soft {
  color: var(--token-NeLYFMxvh1Zc);
}
.slotTargetEndtype_bordered {
  color: var(--token-NeLYFMxvh1Zc);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-zaAkCltkHg-d);
}
.slotTargetEndsize_small {
  font-size: var(--token-zaAkCltkHg-d);
}
.slotTargetEndsize_large {
  font-size: var(--token-d1h4FK34y5Zy);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-d1h4FK34y5Zy);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-UEus1Ov85ert);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-UEus1Ov85ert);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-FJ2kgRt2m1Az);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-FJ2kgRt2m1Az);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-7QztGLHtfX3J);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-7QztGLHtfX3J);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-iKvYtAN9LCGo);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-iKvYtAN9LCGo);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-bAXDpkOCaizN);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-bAXDpkOCaizN);
}
.svg__w7HGm {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
