.ariaTextField:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  row-gap: var(--token-aQQSgsSCBoqT);
  min-width: 0;
}
.ariaTextField[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.label:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.freeBox__iFl5 {
  display: flex;
  flex-direction: column;
}
.freeBox___2YIda {
  flex-direction: row;
  position: absolute;
  height: var(--token-zvF2L-50STuP);
  align-items: center;
  justify-content: center;
  z-index: 9;
  left: 0px;
  top: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-A7gZyYqqC2d2) var(--token-58C_ecRG6qZJ);
}
.freeBoxiconStart___2YIdagOtvV {
  display: flex;
}
.slotTargetStart {
  color: var(--token-ioDFkpqy6us0);
}
.svg___2On9W {
  position: relative;
  height: 1em;
}
.textAreaInputmultiLine:global(.__wab_instance):global(.__wab_instance) {
  display: block;
}
.freeBox__j894A {
  height: var(--token-zvF2L-50STuP);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-A7gZyYqqC2d2) var(--token-58C_ecRG6qZJ);
}
.freeBoxiconEnd__j894Asv7SX {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-ioDFkpqy6us0);
}
.svg__c2Pit {
  position: relative;
  height: 1em;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
