.root:global(.__wab_instance) {
  width: 300px;
  box-sizing: border-box;
  object-fit: cover;
  background: var(--token-Q2J-HMM3Kph9);
  position: relative;
  overflow: auto;
  box-shadow:
    0px 0px 12px 0px #00000040,
    0px 0px 0px 0.5px var(--token-nvmIqE3PCEeW);
  border-radius: var(--token-58C_ecRG6qZJ);
  padding: var(--token-A7gZyYqqC2d2);
}
.ariaListBox:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  outline-style: none;
  min-width: 0;
}
.menuSection__f90Ip:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
